<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAV25WnziguGFenOagnUts6-VGLyu61Lq8</string>
	<key>GCM_SENDER_ID</key>
	<string>405649942605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dealApp</string>
	<key>PROJECT_ID</key>
	<string>dealmeet-c7ba3</string>
	<key>STORAGE_BUCKET</key>
	<string>dealmeet-c7ba3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405649942605:ios:9f86ae924136d2731c1404</string>
</dict>
</plist>